<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joe.weatherguide">

    <!-- REQUIREMENT 1. To access the weather api access to the internet is required. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- REQUIREMENT 2. Access to the network provider is required to obtain locaiton -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- REQUIREMENT 1 AND 2.
     As the application will be targeting API level 21 and higher (android 5.0), this explicit access to
     the network hardware feature is required.
    -->
    <uses-feature android:name="android.hardware.location.network" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayPlacesActivity"
            android:label="@string/title_activity_display_places"
            android:parentActivityName=".MainActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            ></activity>
    </application>

</manifest>